[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "reactive-core"
description = ''
readme = "README.md"
requires-python = ">=3.7"
license = "MIT"
keywords = []
authors = [
  { name = "rmorshea", email = "ryan.morshead@gmail.com" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = []
dynamic = ["version"]

[project.urls]
Documentation = "https://github.com/reactive-python/reactive"
Issues = "https://github.com/reactive-python/reactive/labels/reactive-core"
Source = "https://github.com/reactive-python/reactive/tree/main/packages/reactive-core"

[tool.hatch.version]
path = "reactive/core/__init__.py"

[tool.hatch.envs.default]
dependencies = []

[tool.hatch.envs.default.scripts]
test = "echo 'no tests'"
